@keyframes ArrowUpAnimation {
  from{
    transform:translateY(10px);
    opacity:0
  }
  to{
    transform:translateY(-10px)
  }
}

@keyframes ArrowDownAnimation {
  from{
    transform:translateY(-10px);
    opacity:0
  }
  to{
    transform:translateY(10px)
  }
}
.container{
  position: relative;
  height: 42px;
}
.icon{
  color:white;
  height: 42px;
}
.arrowUp{
  animation: ArrowUpAnimation 1.3s ease-in-out infinite;
}

.arrowDown{
  animation: ArrowDownAnimation 1.3s ease-in-out infinite;
}