.formModal{
  display:flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  width: 100%;
  height: 100%;
  background-color:#000000c9;
  z-index: 4;
  transition: all 10s ease-in-out;
  form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    background-color: rgb(34, 34, 34);;
    width: 350px;
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 2px;
    padding: 1rem .5rem;
    z-index: 5;
    >p{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    input,textarea{
      font-weight: 500;
      font-size:1.1rem;
      background:#1a1a1a;
      padding:.5rem;
      margin-top:1rem;
      border:none;
      border-radius: 2px;
      width: 90%;
      color:white;
    } 

    textarea{
      min-height:150px;
    }
  
    button{
      color:white;
      background-color: rgb(27, 119, 68);
      border:none;
      border-radius: 2px;
      padding: .5rem;
      margin-top:1rem;
      margin-bottom:.7rem;
      width: 90%;

    }
  }
}
