:root{
  --orange:#FF5C28
}


*,html,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  background-color: rgb(21, 21, 21);
  height: 100vh;  
  overflow-y: hidden;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
