

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  color: white;
}
.home{
  background-image: url('../../public/0ce594901442fd479dde3c0c894928d8.jpg');
  background-position: center -5rem;
  background-repeat: no-repeat;
  background-size: 93vw ;
  
  width: 93vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;

}

.separation{
  position: absolute;
  margin-top: 3.5rem;
  width:90%;
  border-bottom: 1px solid white;
}
// ====================================== Header


// =================================== Home
.centerContent{
  position: relative;
  display: flex;
  justify-content: center;
  left: -5rem;
  top: 11vh;
    
  .options{
    position: absolute;
    right: 10rem;
    display: none;
  }
  .firstTriangle{
    position: absolute;
    margin-right: .7rem;
    width: 500px;
    z-index: 2;
    top: 0.5rem;
  }

  .second{
    position: absolute;
    z-index: 25;   
    top: 5rem;

  }
  .secondTriangle{
    position: absolute;
    transform: scaleY(-1);
    z-index: 1;
    left: -5rem;
    top: 5rem;
  }

  .me{
    position: absolute;
    top: 47.5vh;
    right:-12vw;
    width: 30vw;
    
      h1{
        font-family: 'My soul';
        font-size: 2.8rem;
        font-weight: 400;
        letter-spacing: .3rem;
        line-height: 5rem;
      }
      p{
        position: relative;
        font-family: noto-sans;
        font-size: 1.5rem;
        left: 8vw;
        color: #A9A9A9;
        letter-spacing: .1rem;
      }
  }

}
