.triangle{
    margin-left: 3rem;
}
.options{
    position: absolute;
    margin-left: 23.4rem;
    z-index: 999;
    top: 5rem;
}

.container{
    margin-left: 12.2rem;
    z-index: 999;
}
.box{
    width: 600px;
    margin-left: 11.6rem;
    margin-top: 10.7rem;
}

.box2{
    width: 600px;
    margin-left: 8.5rem;
    margin-top: -2.3rem;
}
.box3{
    width: 600px;
    margin-left: 5.3rem;
    margin-top: -2.3rem;
}
.secondTriangle{
    position: absolute;
    transform: scaleY(-1);
    z-index: 1;
    top: 0;
  }
// .tinyOne{
//     position: absolute;
//     transform: scaley(-1);
//     left: 0;
//     z-index: 0;

// }

// .tiny2{
//     position: absolute;
//     transform: scaley(-1);
//     left: 8.4rem;
//     z-index: 0;
// }

// .tiny3{
//     position: absolute;
//     left: 4.2rem;
//     top: .5rem;
//     z-index: 0;
// }

// .tiny4{
//     position: absolute;
//     transform: scaley(-1);
//     left: 4.2rem;
//     top: 6.5rem;
//     z-index: 0;
// }

// .tiny5{
//     position: absolute;
//     transform: scaley(-1);
//     left: 8rem;
// }

// .tiny6{

// }