.header{
  height: 5vh;
  width:100%;

  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  font-family: anton;
  font-size: 1.125rem;
  letter-spacing: .2rem;

  position: absolute;
  padding-right:2rem;
  margin: .2rem auto ;
  color: #A9A9A9;
  z-index: 2;
  list-style-type: none;
  .homeButton{
    margin-right:1.5rem
  }

  &::after{
    content: "";
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0); 
    width: 98vw;
    border-bottom: 2px solid #a9a9a9af;
    border-radius: 3px;
  }

  li{
      letter-spacing: .2rem;
      
    a{
      margin-left: 2rem;
      font-size: 1.125rem;

      &:hover{
        filter: (brightness(1.3));
      }

      
    }
    a + a {
      margin-left: 4rem;
    }
    &:first-child{
      font-family: fascinate;
      letter-spacing: -.0rem;
      font-size: 1.125rem;
      color:#A9A9A9;
      
    
      span{
        color:var(--orange);
        margin-bottom: -20px;
      }
    }
  }
 
}

.svg{
  font-size: 1.5rem;
  color:var(--orange);
  transform:rotateX(30%) translateY(-5px);
}




@media(max-width:970px){
  .nav{
    display:none;
  }
}


