@keyframes pulse {
  from{
    transform: scale(0.9);
    filter:opacity(.6);

  }
  to{
    transform: scale(1.1);
    filter:opacity(.0);
  }
}


.aboutMe{
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #090D11;

  >h2{
    margin-right: auto;
    font-size: 28px;
    margin-bottom: 1.5rem;
    font-family: noto-sans;
    letter-spacing:1px;
    margin-left: 22vw;
  }

  .aboutBox{
  padding:1rem;
  width:70vw;
  height:50vh;
  min-height: 460px;
  background-color: #33ffe752;
  border-radius: 5px;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
  gap:2rem;

  
    .leftContent{
      grid-column: 1;
      .description{
        margin: .7rem 0 0 .5rem ;  
        p{
          padding: 1.5rem 5rem .7rem 1.5rem;
          font-size: 18px;
          font-family: nato-sans;
        }
      }
      .description::before {
        width:28rem;
        height:16rem;
        position:absolute;
        content:'';
        background: no-repeat center url(/images/leftAbt.svg) ;
        background-size: 100% 100%;
      }
    }
    .centerContent{
      height:100%;
      width: 100%;
      grid-column: 2;
      padding-top: 5.4rem;
      .midAbt{
        margin-bottom: -6.95rem;
      }


      .imageBorder{
        transition: all 0.5 ease-in-out;    
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &::before{
          z-index: 2;
          display: block;
          width:210px;
          height:210px;
          background: center no-repeat url('/images/personal2.png') ;
          background-size: 100% auto;
          content: '';
        }
        &::after{
          position: absolute;
          width:220px;
          height:220px;
          background-image: url('/images/whiteFilter.png');
          background-size: 100% auto;
          transform-origin: center;
          animation: pulse 2s linear infinite;
          top:-5px;
          filter:opacity(.2);
          content:'';
        }

      }
    }
    
    .rightContent{
      >p{
        font-size: 24px;
        margin: 8.55rem 0 1rem 8rem;        
        font-family: nato-sans;
        letter-spacing: 2px;
      }    
      .imageJourney{
        width:370px
      }
    }
  }
}

@media (max-width:760px){

  .aboutMe{
    h2{
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    .aboutBox{
      width:90vw;
      height:90%;
      margin-bottom:1rem;
    }
  }
}